<app-admin-navbar></app-admin-navbar>

<div class="container-flex col-sm-11 admin-div mx-auto">
  <div class="row">
    <div class="container-flex">
      <div class="row option-row">
        <div class="col-sm-5">
          <h1>Inventário</h1>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-5">
          <h1>Pessoas</h1>
        </div>
      </div>
      <div class="row option-row">
        <div class="col-sm-5">
          <p class="p-title" (click)="navigateToPage('manager-page', 'Séries')">Gerenciar Séries</p>
          <p>Adicionar, remover ou editar séries no sistema</p>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-5">
          <p class="p-title" (click)="navigateToPage('manager-page', 'Estatísticas')">Estatisticas</p>
          <p>Número total de usuários e número de acessos</p>
        </div>
      </div>
      <div class="row option-row">
        <div class="col-sm-5">
          <p class="p-title" (click)="navigateToPage('manager-page', 'Livros')">Gerenciar Livros</p>
          <p>Adicionar, remover ou editar livros no sistema</p>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-5">
          <p class="p-title" (click)="navigateToPage('manager-page', 'Perfis')">Gerenciar Perfis</p>
          <p>Listar, editar ou remover perfis</p>
        </div>
      </div>
      <div class="row option-row">
        <div class="col-sm-5">
          <p class="p-title" (click)="navigateToPage('manager-page', 'Filmes')">Gerenciar Filmes</p>
          <p>Adicionar, remover ou editar filmes no sistema</p>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-5">
          <p class="p-title" (click)="navigateToPage('manager-page', 'Comentários')">Gerenciar Comentários</p>
          <p>Listar, editar ou remover comentários</p>
        </div>
      </div>
    </div>
  </div>
</div>
